*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
    max-width: 100%;
}
body{
    min-height: 100vh;/*viewport height*/
    background: linear-gradient(rgb(48, 42, 94),rgb(255, 255, 255));/* we can use it for further updates in the style*/
}
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15000;
    background: black;
    /* background-image: url(image/ff.jpg); */
}
header .logoNam{
    position: relative;
    font-family: copperplate,fantasy;
    padding: 20px 0px 0px 0px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.9em;
    letter-spacing: 2px;
}
.redies{
    font-family: cursive;
    color: rgb(230, 8, 8);
}
.logoName{
    font-family: copperplate,fantasy;
    color: rgb(230, 8, 8);
}
header ul{
    display: flex;
}
.logoCZ{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center ;
}
header ul li{
    list-style: none;
    margin-left: 22px;
}
header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.travel{
    background:rgb(255, 255, 255);
    color: rgb(45, 89, 165);
}
main{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 0;
    padding-top: 44px;
    flex-direction: column;
}
.fixedHeader{
    position:sticky;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    background:linear-gradient(rgb(100, 97, 97),rgb(0, 0, 0));
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .4);
    z-index: 10;
    align-items: center;
}
.fixedHeader ul{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fixedHeader ul li{
    list-style: none;
    margin-left: 40px;
    margin-right: 20px;

}
.fixedHeader ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
}
.fixedHeader .secondUl li{
    margin-left: 10px;
    margin-right: 10px;
}
.fixedHeader ul li a.signIn{
    margin-left: 140px;
}
.fixedHeader .logo{
    font-family: copperplate,fantasy;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    letter-spacing: 2px;
    padding-left: 30px;
}
.fixedHeader .logoName{
    padding-left: 30px;
}
.fixedHeader ul li a:hover,
.fixedHeader ul li a.travel{
    background: linear-gradient(rgb(0, 0, 0),red);
    color: black;
}
footer{
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    margin: 0px;
    padding: 20px;
    padding-left: 40px;
    /* background: black; */
    background-image: url(image/backFooter.jpeg);
    justify-content: space-between;
    color: white;
}
footer .socialIcon{
    display: flex;
    flex-direction: column;
}
footer .copyright{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.fontfooter1{
    font-family: copperplate,fantasy;
    font-size: 1.2em;
}
.fontfooter2{
    font-family: cursive;
    font-size: 1.2em;
}
.sizze{
    font-size: .9em;
}
footer i{
    padding: 3px;
}
footer .socialIcon a{
    text-decoration: none;
    color: white;
}
main{
    background-color: black;
    color: white;
}
.fixedHeader ul li form select{
    appearance: none;
    text-decoration: none;
    background: transparent;
    color:white;
    font-size: 16px;
    box-shadow: none;
    outline: 0;
    background-image: none;
    border: 0;
}
footer .copyright{
    padding-top: 20px;
}
.transperentBack{
    position: fixed;
    z-index: 200000;
    bottom: 14%;
    left: 0%;
}
.bluey{
    color: rgb(185, 22, 22);
    background-color: transparent;
    border-radius: 20px;
    padding: 5px;
}
.blackWhite{
    background-color: black;
    color: white;
}